* {
	margin: 0;
	padding: 0;
}

body {
	background: #010e1e;
	color: #ddd;
}

#container {
	padding: 0 1rem;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "header" "content" "sidebar" "footer";
	gap: 0.4rem;
	text-align: center;
}

#container > * {
	background: #032249;
	font-size: 2rem;
}

#header {
 	grid-area: header;
}

#content {
 	grid-area: content;
}

#sidebar {
 	grid-area: sidebar;
}

#footer {
	grid-area: footer;
}

@media screen and (min-width: 700px) {
	#container {
		width: 80vw;
		margin: 0 auto;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 60px minmax(-webkit-min-content, 70vh) 60px;
		grid-template-rows: 60px minmax(min-content, 70vh) 60px;
		grid-template-areas: "header header header header" "content content content sidebar" "footer footer footer footer";
		gap: 1rem;
	}
}